<p>

<form action= <%= new_link_path %>>
    <input type="submit" value="Create a Tiny Link" />
</form>

<h3>Most recent Tiny Links:</h3>


<% @link.each do |link| %>
  <ul>
    <a href = "<%= request.protocol + request.host_with_port + '/' + link.short_link %>"> <%= request.host_with_port + '/' + link.short_link %></a>
  </ul>
<% end %>
</p>

