<h1>Tiny Link</h1>

<p>
<% @link.each do |link| %>
  <ul>
    <a href = "<%= request.protocol + request.host_with_port + '/' + link.short_link %>"> <%= request.host_with_port + '/' + link.short_link %></a>
  </ul>
<% end %>
</p>

<%= link_to 'Create your own Tiny Link', new_link_path %>


